<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<!-- IF this property set to true, than service will generate child certificates with Hostname and IP in Subject alternate names. 
		Child certificates will be signed with private key from certificate provided in HostCertPath -->
		<add key="GenerateChildCert" value="true" />
		<!-- if this field empty certificate will be loaded from folder were service run -->
		<add key="HostCertPath" value="prime1.test.pfx" />
		<add key="CertPassword" value="" />
		<add key="CAIssuer" value="prime1.test.pfx" />
		<add key="CertExpireYears" value="100" />
		<add key="EncRegisterRoot" value="" />
	</appSettings>
</configuration>